<h1>
  Welcome to {{ title }}
</h1>

<h2>Single Throw</h2>

<select name="number_single" size="1" #selected_number_single>
  <option *ngFor='let number of numberOfThrows'>{{ number }}</option>
</select>
x
W
<select name="type_single" size="1" #selected_type_single>
  <option *ngFor='let type of diceTypes'>{{ type }}</option>
</select>
+
<input name="offset_single" size="1" value="0">
=
{{ singleThrowResult }}
<button (click)="onButtonClickSingle(selected_number_single.value, selected_type_single.value)">Go</button>


<h2>Multiple Throw</h2>

<select name="number_multiple" size="1">
  <option *ngFor='let number of numberOfThrows'>{{ number }}</option>
</select>
x
W
<select name="type_multiple" size="1">
  <option *ngFor='let type of diceTypes'>{{ type }}</option>
</select>
=
{{ multipleThrowResult }}
<button (click)='multipleThrow()'>Go</button>

