<h1>
  Welcome to {{ title }}
</h1>

<h2>Single Throw</h2>

<select name="single_number" size="1">
  <option *ngFor='let throws of numberOfThrows'>{{ throws }}</option>
</select>
x
W
<select name="single_dice_typ" size="1">
  <option *ngFor='let diceTyp of diceTypes'>{{ diceTyp }}</option>
</select>
+
<input name="single_offset" size="1" value="0">
=
{{ singleThrowResult }}
<button (click)='singleThrow($event)'>Go</button>


<h2>Multiple Throw</h2>

<select name="multiple_number" size="1">
  <option *ngFor='let throws of numberOfThrows'>{{ throws }}</option>
</select>
x
W
<select name="multiple_dice_typ" size="1">
  <option *ngFor='let diceTyp of diceTypes'>{{ diceTyp }}</option>
</select>
=
{{ multipleThrowResult }}
<button (click)='multipleThrow()'>Go</button>

