<h1>
  Welcome to {{ title }}
</h1>

<h2>Single Throw</h2>
<select name="single_number" size="1">
  <option>1</option>
  <option>2</option>
  <option selected>3</option>
  <option>4</option>
</select>
W
<select name="single_dice_typ" size="1">
  <option>6</option>
  <option>12</option>
  <option>20</option>
</select>
+
<input name="single_offset" size="1" value="0">
=
{{ singleThrowResult }}
<button (click)='singleThrow($event)'>Go</button>

<h2>Multiple Throw</h2>
<select name="multiple_number" size="1">
  <option>1</option>
  <option>2</option>
  <option selected>3</option>
  <option>4</option>
</select>
W
<select name="multiple_dice_typ" size="1">
  <option>6</option>
  <option>12</option>
  <option selected>20</option>
</select>
=
<button (click)='multipleThrow()'>Go</button>

